<div class="container">

    <h2>Detalle de la propuesta</h2>

    <div class="row col-md-12">
          <div id="carouselExampleIndicators" class="carousel slide col-md-6" data-ride="carousel">
               <ol class="carousel-indicators">
               <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
               <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
               <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner bg-dark d-flex align-items-center" style="height: 400px;" >
               <div class="carousel-item active">
               <img class="d-block w-100" src="http://localhost:3000/estatico/imgs/1.jpg" alt="First slide">
               </div>
               <div class="carousel-item">
               <img class="d-block w-100" src="http://localhost:3000/estatico/imgs/2.jpg" alt="Second slide">
               </div>
               <div class="carousel-item">
               <img class="d-block w-100" src="http://localhost:3000/estatico/imgs/3.jpg" alt="Third slide">
               </div>
               </div>
               <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="sr-only">Next</span>
               </a>
          </div>

          <div class="col-md-6 row">
                  
               <div class="col-md-12">
                    <h3>Resumen</h3>
                    <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et lorem nisl. Praesent sed congue ipsum. Nulla consequat ante sed consectetur ultrices. Duis ultrices, sapien ut pellentesque viverra, nisi felis auctor massa, ut egestas leo velit ac sapien. Integer dictum sed arcu id vehicula. Nulla facilisi. Etiam porta tortor leo, eget laoreet enim posuere ac. Donec hendrerit euismod tortor ac luctus. Aliquam pretium quam ultrices augue consequat tristique.
                    </p>
               </div>
               
               <div class="col-md-12 row">
                    <div class="card col-md-6">
                         <h4 class="text-center">Votos</h4>
                         <div class="d-flex justify-content-around rounded">
                              <h5> 4 <i class="fa fa-thumbs-up text-success"></i></h5>
                              <h5> 4 <i class="fa fa-thumbs-down text-danger"></i></h5>
                         </div>
                    </div>
     
                    <div class="card col-md-6">
                         <h4 class="text-center">Participación</h4>
                         <div class="rounded">
                              <h5><i class="fa fa-users text-danger"></i> Ciudad</h5>
                         </div>
                    </div>

                    <div class="card col-md-6">
                         <h4 class="text-center">Participantes</h4>
                         <div class="rounded">
                              <h5><i class="fa fa-male text-danger"></i> 5 </h5>
                         </div>
                    </div>

                    <div class="card col-md-6">
                         <h4 class="text-center">Ubicacion</h4>
                         <div class="rounded">
                              <h5><i class="fa fa-map-marker text-primary"></i> CABA </h5>
                         </div>
                    </div>
               </div>
          </div>

          <div class="col-md-12 pt-4">
                    
               <h3>Descripción</h3>
               <p>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et lorem nisl. Praesent sed congue ipsum. Nulla consequat ante sed consectetur ultrices. Duis ultrices, sapien ut pellentesque viverra, nisi felis auctor massa, ut egestas leo velit ac sapien. Integer dictum sed arcu id vehicula. Nulla facilisi. Etiam porta tortor leo, eget laoreet enim posuere ac. Donec hendrerit euismod tortor ac luctus. Aliquam pretium quam ultrices augue consequat tristique.
               Suspendisse accumsan nunc ut ante vulputate, vitae luctus libero laoreet. Praesent ut purus finibus, sagittis eros quis, ultrices ante. In congue rhoncus elit ut cursus. Quisque velit lacus, rhoncus a ex a, sodales tempus dolor. Nullam aliquam quam a ex iaculis bibendum. Vivamus sed hendrerit mauris, ac congue justo. Fusce vestibulum, orci eget consectetur porta, diam nisi facilisis lorem, nec convallis urna turpis eu dui. Duis interdum scelerisque auctor. Nam egestas quam lectus. Nunc id tellus a libero fermentum molestie vitae eu diam. Phasellus vitae quam a lorem commodo tincidunt. Proin malesuada tellus ipsum, sit amet mollis odio lobortis eu.                    
               Integer aliquam nulla elit, eu consequat velit tincidunt at. Mauris venenatis nisl eu felis rutrum, et pharetra augue finibus. Curabitur vehicula tortor non libero scelerisque, nec vestibulum leo tincidunt. Fusce vulputate volutpat mi, eu pharetra lorem porta consequat. Nulla arcu velit, hendrerit et facilisis tristique, eleifend at orci. Quisque commodo, mauris non varius luctus, elit dui auctor metus, feugiat vestibulum tellus nibh vitae arcu. Ut quis tortor eu turpis hendrerit sagittis. Maecenas mauris neque, congue sit amet sagittis ac, rutrum vel sapien. Sed vulputate et quam sit amet vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquam porttitor odio, sit amet fringilla sem pharetra non. 
               Donec sodales maximus finibus. Morbi varius feugiat erat non aliquet. Pellentesque eu interdum risus. Sed in eros eu magna ultricies pulvinar vel eu nisl. Mauris vel congue nibh. Quisque non elit nulla. Vestibulum in augue commodo, condimentum augue vel, hendrerit erat. Duis semper felis nunc, at facilisis mauris interdum id. Cras dapibus, leo tempus feugiat bibendum, orci arcu scelerisque dui, ac posuere ligula mi interdum mauris. Mauris nec sollicitudin eros. Aliquam venenatis iaculis dolor eget posuere. Nunc id sodales diam. Morbi mattis, purus non posuere hendrerit, dolor odio bibendum lectus, non egestas orci magna nec lectus. Sed iaculis dui mauris, nec scelerisque ipsum eleifend ut. Integer at elit tempor, ornare massa ac, malesuada leo.
               </p>
          </div>
     </div>
     

     <div class="col-md-12">
          <h2>Comentarios</h2>

          <div class="conainer row justify-content-md-center mt-1">
               <div class="jumbotron p-3 row col-md-10 ">               
                    <div class="col-md-10">
                         <h3>Nombre</h3>
                         <hr class="my-4">
                         <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                    </div>               
                    <div class="col-md-2 text-center">
                         <img class="img-thumbnail" src="http://localhost:3000/estatico/imgs/CV.jpeg" alt="Usuario" style="width: 80px; height: 80px;">
                    </div>
                    <div class="col-md-2 d-flex justify-content-around rounded">
                         <h5> 4 <i class="fa fa-thumbs-up text-success"></i></h5>
                         <h5> 4 <i class="fa fa-thumbs-down text-danger"></i></h5>
                    </div>
               </div>
          </div>      
          
          <div class="conainer row justify-content-md-center mt-1">
               <div class="jumbotron p-3 row col-md-10 ">               
                    <div class="col-md-10">
                         <h3>Nombre</h3>
                         <hr class="my-4">
                         <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                    </div>               
                    <div class="col-md-2 text-center">
                         <img class="img-thumbnail" src="http://localhost:3000/estatico/imgs/CV.jpeg" alt="Usuario" style="width: 80px; height: 80px;">
                    </div>
                    <div class="col-md-2 d-flex justify-content-around rounded">
                         <h5> 4 <i class="fa fa-thumbs-up text-success"></i></h5>
                         <h5> 4 <i class="fa fa-thumbs-down text-danger"></i></h5>
                    </div>
               </div>
          </div>    

          <div class="conainer row justify-content-md-center mt-1">
               <div class="jumbotron p-3 row col-md-10 ">               
                    <div class="col-md-10">
                         <h3>Nombre</h3>
                         <hr class="my-4">
                         <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                    </div>               
                    <div class="col-md-2 text-center">
                         <img class="img-thumbnail" src="http://localhost:3000/estatico/imgs/CV.jpeg" alt="Usuario" style="width: 80px; height: 80px;">
                    </div>
                    <div class="col-md-2 d-flex justify-content-around rounded">
                         <h5> 4 <i class="fa fa-thumbs-up text-success"></i></h5>
                         <h5> 4 <i class="fa fa-thumbs-down text-danger"></i></h5>
                    </div>
               </div>
          </div>    
     </div>
</div>



