<p>map works!</p>
<!--
<google-map 
    #mapa
    width=100% 
    height=600 
    [center]="position"
    [zoom]="zoom"
    [options]="options"
    
    (mapDblclick)="dobleClick();"
    
    (mapRightclick)="rightClick();">
    <!--

    <map-marker
    [position]="position"
    [label]="label"
    [title]="title"></map-marker>
    (mapClick)="openInfo(markerElem, info)"
    </map-marker>
    
    <map-marker
    #markerElement
    *ngFor="let marker of markers"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"></map-marker>
    <!--(mapClick)="openInfo(markerElem, marker.info)"

    <button class="btn btn-info" (click)="addMarker()">Add marker</button>
    
</google-map>-->

<google-map
height="500px"
  width="100%"
  [zoom]="zoom"
  [center]="position"
  [options]="options"
  (mapClick)="click($event)">


  <map-marker
    #markerElem
    *ngFor="let marker of markers"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
    (mapClick)="openInfo(markerElem, marker.info)"
  >
  </map-marker>

  <map-info-window>{{ infoContent }}</map-info-window>

</google-map>

<button (click)="logCenter()">Log center</button>
<button (click)="addMarker()">Add marker</button>