<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container">
    <a class="navbar-brand" href="propuesta">Propuesta</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="usuarios">Usuarios <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="propuestas">Propuestas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mapa">Mapa</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menú
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="usuarios">Usuarios</a>
            <a class="dropdown-item" href="propuestas">Propuestas</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>  
</nav>



<!--<div #mapContainer id="map"></div>

<button class="btn btn-info" (click)="mostrarInfo()"></button>-->




<div class="container bg-white py-5">

  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<section id="footer">
  <div class="container bg-dark pt-3">
    <div><h5>Enlaces</h5></div>
    <div class="row text-center">
      <div class="col-xs-12 col-sm-4 col-md-4">					
        <ul class="list-unstyled quick-links text-left">
          <li><a href="#"><i class="fa fa-angle-double-right"></i>Home</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i>About</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 text-left">
        <ul class="list-unstyled quick-links">
          <li><a href="#"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
          <li><a href="#"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 text-left">
        <ul class="list-unstyled quick-links">
          <li><a href="#"><i class="fa fa-angle-double-right"></i>Videos</a></li>
          <li><a href="#" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
        </ul>
      </div>
    </div>
    <div class="row text-center">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-1 mt-sm-3">
          <a href="#" class="fa social fa-facebook"></a>
          <a href="#" class="fa social fa-twitter"></a>
          <a href="#" class="fa social fa-google"></a>
          <a href="#" class="fa social fa-linkedin"></a>
          <a href="#" class="fa social fa-whatsapp"></a>
          <a href="#" class="fa social fa-youtube"></a>
          <a href="#" class="fa social fa-instagram"></a>
          <a href="#" class="fa social fa-skype"></a>
        </div>
    </div>	

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p class="h6">© Copyright Adriel Fragapane 2020. Todos los derechos reservados.</p>
      </div>
    </div>

  </div>
</section>
<!-- ./Footer -->
