<p>pago works!</p>

<div class="row">
    <div class="col-md-4 mx auto">
        <div class="card">
            <div class="card-body">
                <h2></h2>
                <p>
                    asdasdasdadasdasdaa asd asd asdasdasdadaw awe w ere  e se e e e e  e e e e e 
                </p>
            </div>
            <div class="card-footer">
                <button class="btn btn-dark btn-block">
                    Comprar <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>

<form action="/procesar-pago" method="POST">
    <script
     src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
     data-preference-id="$$id$$">
    </script>
  </form>