<p>propuesta works!</p>

<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <h2 class="display-2">Propuestas</h2>
            <table class="table">
                <thead>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                    <tr *ngFor="let propuesta of propuestasUsuario">
                        <td>{{propuesta.nombre}}</td>
                        <td>{{propuesta.descripcion}}</td> 
                        <td>
                            <button (click)="editarPropuesta(propuesta)" class="btn btn-warning">Editar</button>
                        </td>
                        <td>
                            <button (click)="eliminarPropuesta(propuesta)" class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <button (click)="nuevaPropuesta()" class="btn btn-info col-sm-12">Agregar Propuesta</button>

        </div>
        <div class="col-sm-5">
            <div class="car">
                <div class="card-title">
                    <h2 class="display-2">Editar Propuesta</h2>
                </div>
                <div class="card-content">
                    <div *ngIf="formPropuesta">      
                        <form #PropuestaForm="ngForm">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" #name="ngModel"
                                    [(ngModel)]="propuestaSeleccionada.nombre"
                                    placeholder="Nombre de la propuesta">
                                </div>

                                <div class="col-sm-12">
                                    <label for="descripcion">Descripción</label>
                                    <input type="text" class="form-control" name="descripcion" #name="ngModel"
                                    [(ngModel)]="propuestaSeleccionada.descripcion"
                                    placeholder="Descripción de la propuesta">
                                </div>
                                <div class="col-sm-12 text-center">
                                    <div class="col-sm-12">
                                        <button *ngIf="editar" (click)="actualizarPropuesta()" class="btn btn-success col-sm-12">Actualizar</button>
                                        <button *ngIf="!editar" (click)="guardarPropuesta()" class="btn btn-success col-sm-12">Guardar</button>
                                    </div>
                                </div>
                            </div> 
                        </form>
                   </div>
                </div>
            </div>
        </div>
    </div>



            
                

    

    

</div>