<div class="container row">
    <!--<a href="/usuarios" class="btn btn-info">ir a Usuarios</a>-->
    
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="propuestas">Argentina</a></li>
            <li class="breadcrumb-item"><a href="#">Ciudad Autónoma de Buenos Aires</a></li>
            <li class="breadcrumb-item active" aria-current="page">Caballito</li>
            </ol>
        </nav>
    </div>


        <div class="col-md-3 rounded">

            <h4>Filtros</h4>

            <div>
                <h5>Ubicación</h5>
                <ul>
                    <li>Mendoza (34)</li>
                    <li>Buenos Aires (129)</li>
                </ul>
            </div>
            <hr>
            <div>
                <h5>Ubicación</h5>
                <ul>
                    <li>Mendoza (34)</li>
                    <li>Buenos Aires (129)</li>
                </ul>
            </div>
        </div>

    <div class="col-md-9 row rounded" style="background-color: darkgray;">
        <div class="col-sm-7" *ngIf="filtroUsuario">
            <!--<h2>Propuestas<button (click)="toggleFiltroUsuario()" class="btn btn-info">Ver todas</button></h2>-->
            <div class="card">
                <div class="card-title">
                    <h2>Propuestas
                        <button (click)="verTodas()" class="btn btn-info">Ver todas</button>
                    </h2>
                </div>
                <div class="card-content">  
                    <table class="table">
                        <thead>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Votos</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let propuesta of propuestasUsuario">
                                <td>{{propuesta.nombre}}</td>
                                <td>{{propuesta.descripcion}}</td> 
                                <td>{{propuesta.votos.length}}</td> 
                                <td><button (click)="editarPropuesta(propuesta)" class="btn btn-warning">Editar</button></td>
                                <td><button (click)="eliminarPropuesta(propuesta)" class="btn btn-danger">Eliminar</button></td>
                                <!--<td><img class="img-responsive" src='{{URL}}' alt="Img"></td>-->
                                <!--<td><img class="img-responsive" src='{{URL + propuesta.imagenes[0]}}' alt="Img"></td>-->
                                <td>
                                    <div class="col-sm-12 row card-group">
                                        <div class="col-sm-6 col-md-6"  *ngFor="let imagen of propuesta.imagenes">
                                            <div class="card">
                                                <img class="card-img img-responsive" src='{{URL_D_IMGS + imagen}}' alt="Card image">
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>                
                    <button (click)="nuevaPropuesta()" class="btn btn-info col-sm-12">Agregar Propuesta</button>
                </div>
            </div>
        </div>

        <div class="col-sm-7" *ngIf="!filtroUsuario">
            <h2 class="display-2">Propuestas</h2>
            <table class="table">
                <thead>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Votos</th>
                    <th>Votar</th>
                    <th>Usuario</th>                    
                </thead>
                <tbody>
                    <tr *ngFor="let propuesta of propuestas">
                        <td>{{propuesta.nombre}}</td>
                        <td>{{propuesta.descripcion}}</td> 
                        <td>{{propuesta.votos.length}}</td> 
                        <td><button (click)="votar(propuesta)" class="btn btn-success">Votar</button></td>
                        <td><button class="btn btn-info">{{propuesta.usuario.nombre}}</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-sm-5" *ngIf="formPropuesta">
            <div class="card">
                <div class="card-title">
                    <h2>Propuestas </h2>
                </div>
                <div class="card-content">   
                    <form #PropuestaForm="ngForm">
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control" name="nombre" #name="ngModel"
                                [(ngModel)]="propuestaSeleccionada.nombre"
                                placeholder="Nombre de la propuesta">
                            </div>

                            <div class="col-sm-12">
                                <label for="descripcion">Descripción</label>
                                <input type="text" class="form-control" name="descripcion" #name="ngModel"
                                [(ngModel)]="propuestaSeleccionada.descripcion"
                                placeholder="Descripción de la propuesta">
                            </div>

                            <div class="col-sm-12">
                                <label for="imagen">Imagen</label>
                                <input type="file" ng-file-model="files" multiple (change)="setImagenes($event)" class="form-control" name="imagen"/>
                            </div>

                            <div class="col-sm-12 row card-deck">
                                <div class="col-sm-4 border-secondary"  *ngFor="let imagen of propuestaSeleccionada.imagenes">
                                    <div class="card bg-light mb-3">
                                        <img class="card-img img-responsive rounded" src='{{URL_D_IMGS + imagen}}' alt="Card image cap">

                                        <h5 class="card-title">Card title</h5>
                                        <h5 class="card-text">Card text</h5>
                                    </div>
                                </div>
                                <!--
                                <div class="col-sm-4"  *ngFor="let imagen of imagenesSeleccionadas" style="height: width;">
                                    <div class="card">
                                        <img class="card-img img-responsive" src='{{URL_E_IMGS + "foto-agregada.jpg"}}' alt="Card image">
                                    </div>
                                </div>-->
                            </div>
                            <div class="col-sm-12 text-center" style="margin-top: 20px;">                                
                                <div class="col-sm-12">
                                    <button (click)="guardarPropuesta(propuestaSeleccionada)" class="btn btn-success col-sm-12">
                                        {{editar ? 'Actualizar' : 'Guardar'}}
                                    </button>
                                    <!--<button *ngIf="!editar" (click)="guardarPropuesta(propuestaSeleccionada)" class="btn btn-success col-sm-12">Guardar</button>-->
                                </div>
                            </div>
                            <!--
                            <div class="col-sm-12 text-center" style="margin-top: 20px;">                                
                                <div class="col-sm-12">
                                    <button *ngIf="editar" (click)="actualizarPropuesta(propuestaSeleccionada)" class="btn btn-success col-sm-12">Actualizar
                                        <h2></h2>
                                    </button>
                                    <button *ngIf="!editar" (click)="guardarPropuesta(propuestaSeleccionada)" class="btn btn-success col-sm-12">Guardar</button>
                                </div>
                            </div>-->
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>  
</div>