<section id="footer">
    <div class="container bg-dark pt-3">
      <div><h5>Enlaces</h5></div>
      <div class="row text-center">
        <div class="col-xs-12 col-sm-4 col-md-4">					
          <ul class="list-unstyled quick-links text-left">
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Home</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>About</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 text-left">
          <ul class="list-unstyled quick-links">
            <li><a href="#"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 text-left">
          <ul class="list-unstyled quick-links">
            <li><a href="#"><i class="fa fa-angle-double-right"></i>Videos</a></li>
            <li><a href="#" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
          </ul>
        </div>
      </div>
      <div class="row text-center">
          <div class="col-xs-12 col-sm-12 col-md-12 mt-1 mt-sm-3">
            <a href="#" class="fa social fa-facebook"></a>
            <a href="#" class="fa social fa-twitter"></a>
            <a href="#" class="fa social fa-google"></a>
            <a href="#" class="fa social fa-linkedin"></a>
            <a href="#" class="fa social fa-whatsapp"></a>
            <a href="#" class="fa social fa-youtube"></a>
            <a href="#" class="fa social fa-instagram"></a>
            <a href="#" class="fa social fa-skype"></a>
          </div>
      </div>	
  
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          <p class="h6">© Copyright Adriel Fragapane 2020. Todos los derechos reservados.</p>
        </div>
      </div>
  
    </div>
  </section>
  <!-- ./Footer -->
  